In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NICAP_Data_info.csv')

In [3]:
df.head()

,id_number,Subject_ID,ChildGender,d1_diagadhd_dich,d3_diagadhd_dich,d5_diagadhd_dich,p0_cpadhdi_raw,p3_cpadhdi_raw,p4_cpadhdi_raw,p5_cpadhdi_raw,...,c5_a_sws_5c,c5_a_sws_5d,c5_a_sws_5e,c5_a_sws_5f,c5_sws_gb,c5_sws_fa,c5_sws_ms,c5_sws_rs,c5_sws_rw,c5_sws_total
0,15,sub-0015,1,0.0,0,0.0,0,0.0,0.0,0.0,...,1.0,3.0,1.0,1.0,1.4,1.000000,1.833333,1.666667,3.4,1.513333
1,71,sub-0071,1,1.0,1,NaN,14,12.0,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,85,sub-0085,0,0.0,0,0.0,5,14.0,0.0,1.0,...,2.0,5.0,5.0,1.0,3.6,2.500000,2.500000,2.000000,4.2,2.520000
3,86,sub-0086,1,1.0,1,0.0,16,11.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,134,sub-0134,1,0.0,0,0.0,2,0.0,0.0,0.0,...,3.0,5.0,5.0,2.0,3.4,2.166667,2.166667,2.000000,3.8,2.346667