In [3]:
import pandas as pd
import shutil, os
import numpy as np

In [4]:
df = pd.read_csv('uncorrected_pvalues.csv')
df.head()

           parcel_name    sws_rw  sws_gb  sws_ms  sws_fa    sws_rs  sws_total
0    gmd_17Networks_17  0.046039     NaN     NaN     NaN       NaN        NaN
1     gmd_17Networks_1  0.024803     NaN     NaN     NaN       NaN        NaN
2  zReHo_17Networks_15  0.023071     NaN     NaN     NaN  0.004952   0.038886
3  zReHo_17Networks_11  0.047506     NaN     NaN     NaN  0.004571        NaN
4   zReHo_17Networks_9  0.016364     NaN     NaN     NaN  0.009124        NaN

In [5]:
df1 = df[['parcel_name' ,'sws_total']]
df1.head()

           parcel_name  sws_total
0    gmd_17Networks_17        NaN
1     gmd_17Networks_1        NaN
2  zReHo_17Networks_15   0.038886
3  zReHo_17Networks_11        NaN
4   zReHo_17Networks_9        NaN

In [6]:
df1.shape

(364, 2)

In [7]:
df2 = df1.dropna()

In [8]:
df2.shape

(158, 2)

In [9]:
df2.insert(1, 'parc_name', np.nan)

In [10]:
df2.head()

            parcel_name  parc_name  sws_total
2   zReHo_17Networks_15        NaN   0.038886
10  zfALFF_17Networks_9        NaN   0.036624
13  zfALFF_17Networks_2        NaN   0.049088
15  zDCwei_17Networks_9        NaN   0.038468
19  zDCbin_17Networks_9        NaN   0.046272

In [11]:
df2 = df2.reset_index()

In [12]:
df2.head()

   index          parcel_name  parc_name  sws_total
0      2  zReHo_17Networks_15        NaN   0.038886
1     10  zfALFF_17Networks_9        NaN   0.036624
2     13  zfALFF_17Networks_2        NaN   0.049088
3     15  zDCwei_17Networks_9        NaN   0.038468
4     19  zDCbin_17Networks_9        NaN   0.046272

In [13]:
df = df2.drop('index', axis = 1)

In [14]:
df.head()

           parcel_name  parc_name  sws_total
0  zReHo_17Networks_15        NaN   0.038886
1  zfALFF_17Networks_9        NaN   0.036624
2  zfALFF_17Networks_2        NaN   0.049088
3  zDCwei_17Networks_9        NaN   0.038468
4  zDCbin_17Networks_9        NaN   0.046272

In [15]:
markers = ['gmd_', 'zALFF_', 'zfALFF_', 'zReHo_', 'zDCwei_', 'zDCbin_']
for i,parc in enumerate(df["parcel_name"]):
    #for i in range(df.shape[0]):
    for marker in markers:
        if parc.find(marker)==0:
            df["parc_name"][i] = df["parcel_name"][i][len(marker):]
            #print(df["sws_total"][i])
            col = marker + "sws_total_p" 
            if col not in df:
                df.insert(2, col, np.nan)
            df.iloc[i, df.columns.get_loc(col)] = df["sws_total"][i]

<ipython-input-15-bf8a9a7e25fb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["parc_name"][i] = df["parcel_name"][i][len(marker):]
/home/tara/Programming/env/lib/python3.8/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [16]:
df

,parcel_name,parc_name,gmd_sws_total_p,zALFF_sws_total_p,zDCbin_sws_total_p,zDCwei_sws_total_p,zfALFF_sws_total_p,zReHo_sws_total_p,sws_total
0,zReHo_17Networks_15,17Networks_15,NaN,NaN,NaN,NaN,NaN,0.038886,0.038886
1,zfALFF_17Networks_9,17Networks_9,NaN,NaN,NaN,NaN,0.036624,NaN,0.036624
2,zfALFF_17Networks_2,17Networks_2,NaN,NaN,NaN,NaN,0.049088,NaN,0.049088
3,zDCwei_17Networks_9,17Networks_9,NaN,NaN,NaN,0.038468,NaN,NaN,0.038468
4,zDCbin_17Networks_9,17Networks_9,NaN,NaN,0.046272,NaN,NaN,NaN,0.046272
...,...,...,...,...,...,...,...,...,...
153,zALFF_17Networks_RH_DefaultA_PFCm_6,17Networks_RH_DefaultA_PFCm_6,NaN,0.017299,NaN,NaN,NaN,NaN,0.017299
154,zALFF_17Networks_RH_DefaultA_PFCd_1,17Networks_RH_DefaultA_PFCd_1,NaN,0.037167,NaN,NaN,NaN,NaN,0.037167
155,zALFF_17Networks_RH_ContB_PFClv_3,17Networks_RH_ContB_PFClv_3,NaN,0.044483,NaN,NaN,NaN,NaN,0.044483
156,zALFF_17Networks_RH_ContA_PFCl_5,17Networks_RH_ContA_PFCl_5,NaN,0.012351,NaN,NaN,NaN,NaN,0.012351
157,zALFF_17Networks_RH_ContA_PFCl_4,17Networks_RH_ContA_PFCl_4,NaN,0.008980,NaN,NaN,NaN,NaN,0.008980

In [17]:
df.to_csv('p_reformed.csv')