In [1]:
import pandas as pd
import os
import shutil

In [2]:
%config Completer.use_jedi = False

### adding sws_total to info

In [3]:
sws = pd.read_csv('finaldf_vbm2(400).csv')
sws = sws[['Subject_ID', 'sws_total']]
sws.head()

  Subject_ID  sws_total
0   sub-0015   1.513333
1   sub-0085   2.560000
2   sub-0134   2.346667
3   sub-0152   2.066667
4   sub-0260   3.120000

In [4]:
info = pd.read_csv('info.csv')
info = info.drop('Unnamed: 0', axis=1)
info = info.merge(sws, how = "left", on = 'Subject_ID')
info.head()

  Subject_ID  CHILDgender  diagadhd  sws_total
0   sub-0015            1         0   1.513333
1   sub-0085            0         0   2.560000
2   sub-0134            1         0   2.346667
3   sub-0152            0         0   2.066667
4   sub-0260            1         1   3.120000

In [5]:
df = pd.read_csv('final(All100).csv')
df.head()

,Subject_ID,sws_rw,sws_rs,sws_gb,sws_ms,sws_fa,sws_total,gmd_17Networks_17,gmd_17Networks_16,gmd_17Networks_15,...,zDCbin_vCa_R,zDCbin_vCa_L,zDCbin_cHipp_R,zDCbin_cHipp_L,zDCbin_rHipp_R,zDCbin_rHipp_L,zDCbin_lAmyg_R,zDCbin_lAmyg_L,zDCbin_mAmyg_R,zDCbin_mAmyg_L
0,sub-0015,3.4,1.666667,1.4,1.833333,1.000000,1.513333,0.882492,0.685056,0.434501,...,-0.126716,-0.123496,-0.409045,-0.675619,0.039336,-0.151689,-0.286752,-0.646560,-0.480622,0.130468
1,sub-0085,2.8,2.166667,2.8,3.500000,2.166667,2.560000,0.454889,0.506906,0.465330,...,-0.535545,-0.536867,-0.761581,-0.759640,-0.570934,-0.476561,-0.741962,-0.697915,-0.607798,-0.388198
2,sub-0134,3.8,2.000000,3.4,2.166667,2.166667,2.346667,0.771742,0.560614,0.392883,...,0.372329,-0.051257,0.083118,-0.473267,-0.057132,-0.511497,-0.595767,-0.543238,-0.744308,-0.652683
3,sub-0152,4.0,1.666667,3.0,1.500000,2.500000,2.066667,0.462843,0.496591,0.394914,...,0.101284,0.145131,-0.003692,0.266627,0.181125,0.110153,0.209645,-0.008773,-0.316225,-0.015972
4,sub-0260,3.8,2.500000,4.0,3.600000,3.000000,3.120000,0.560632,0.457217,0.358596,...,0.399932,0.302701,-0.616848,-0.627955,-0.255518,-0.601781,-0.660429,-0.659524,-0.505692,-0.210058

In [6]:
feat = pd.read_csv('bonferroni_reformed.csv')
feat = feat[['Unnamed: 0', 'zfALFF_sws_total_bonferroni']]
feat = feat.dropna()
feat = feat.reset_index()
feat = feat.drop('index', axis = 1)
feat

                           Unnamed: 0  zfALFF_sws_total_bonferroni
0          17Networks_RH_ContA_PFCl_1                     0.033917
1  17Networks_RH_SalVentAttnB_PFCmp_1                     0.049985
2     17Networks_RH_DorsAttnB_PostC_1                     0.005543
3             17Networks_RH_SomMotA_1                     0.022228
4    17Networks_LH_SalVentAttnA_Ins_1                     0.000765
5                             rHipp_L                     0.011923
6                             mAmyg_L                     0.014178

In [22]:
df2 = pd.DataFrame()
df2 = pd.concat([df2, df['Subject_ID']])
for f in feat["Unnamed: 0"]:
    f = 'zfALFF_' + f
    for i,column in enumerate(df.columns):
        if f == column:        
            #print(f)
            df2 = pd.concat([df2, df[[column]]], axis=1)
            break

In [24]:
df2.to_csv('df_for_DT.csv')